[Unit]
Description=Autostart app
After=network.target

[Service]
User=root
#Restart=always
#RestartSec=3
ExecStart=app

[Install]
WantedBy=multi-user.target
